body{
    background-color: #f5f9ff;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body{
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
  }
.home,
.companyWithApplicant {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: last-baseline;
    flex-wrap: wrap;
    
}

.left-home {
    width: 50%;
}

.right-home {
    width: 20rem;
    display: flex;
    justify-content: baseline;
}

.right-home img {
    position: relative;
    bottom: 0;
    width: auto;
    height: auto;
}

.left-home h2 {
    font-size: 2rem;
}

.left-home h2 span {
    color: blue;
}

.companyWithApplicant-container {
    display: flex;
    width: 100%;
    margin-top: 2rem;
}

.companyWithApplicant-container h3 {
    font-size: 25px;
    color: #454545;

}


.left-company {
    border: none;
    border-right: 1px solid black;
    padding: 0rem 2rem;
    text-align: center;
}

.right-applicant {
    padding: 0rem 2rem;
}

@media (max-width:640px) {
    .left-home {
        width: 100%;
        text-align: center;
    }
}