.right-img{
	

	background:  url("https://images.pexels.com/photos/3790833/pexels-photo-3790833.jpeg?auto=compress&cs=tinysrgb&w=600");
	background-repeat: no-repeat;
	background-size: auto;
	transition: 0.3s;

}